body {

}

.horizontal-line {
  background-color: grey;
  width:100%;
  height: 3px;
  text-shadow: 2px 0px 1px #000;
}
.section {
  box-sizing: border-box;
  padding:25px;
  padding-top: 5px;
  width:80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.entry {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left:15px;
  border-radius:10px;
  margin-bottom: 10px;
}
.red {
  background-color: #fcc;
  border: 5px solid #622;
}
.blue {
  background-color: #ccf;
  border: 5px solid #226;
}
.green {
  background-color: #cfc;
  border: 5px solid #262;
}
.yellow {
  background-color: #ffc;
  border: 5px solid #662;
}
